<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <startup>   
        <supportedRuntime version="v4.0" sku="netcoreapp2.1" />  
    </startup>  
  <appSettings>  
    <add key="DiscordToken" value="Your-Token-Here"/>
  </appSettings>  
</configuration>
