@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://i.imgur.com/h2PjgF6.png"/>
    <p>The <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a> dashboard/front-end.</p>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Get your instance up and running</h5>
                    <p class="card-text">To Run/Modify the bot visit the Dashboard.</p>
                    <a asp-controller="Bot" asp-action="Index" class="btn btn-primary">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
